form {
    width: 90%;
    margin: 1% 0 1% 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0 0 0;
    margin-bottom: 1.5rem;
    border: 0;
}

.field {
    flex-basis: 100%;
    height: 2rem;
    font-family: "Ubuntu-L",Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.field::placeholder {
    color: var(--medium-grey);
}

.txtarea{
height: 8rem;
resize: none;
}

.button {
    font-size: 1rem;
    height: 2rem;
    margin-right: 1rem;
}