@font-face {
    font-family: "Ubuntu-L";
    src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
    font-family: "Ubuntu-M";
    src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html{
    --grey: #333333;
    --medium-grey: #666666;
    --light-grey: #d8d0d0;
    --blue: #084883;
    --brown: #6d2008;
    --light-orange: #e79f5b;
    --light-yellow: #eee56f;
    --red: #970a0a;
    --green: #04fd10; 
    --medium-green: #0f630c;
    --light-green: #92f57f;
}

body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: "Ubuntu-L", Arial, Helvetica, sans-serif;
    color: var(--grey);
    background-color: var(--light-grey);
    font-weight: normal;
    min-height: 100vh;
}

@media screen and (min-width: 600px) {
    body{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1000px) {
    body{
        font-size: 1rem;
    }
}

header {
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
}

.header_logos {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
}

nav{
    padding: 0.5;
    flex-basis: 70%;
}

@media screen and (min-width: 600px) {
    nav{
        flex-basis: 60%;
        padding: 1rem;
    }
}

.nav_link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
    .nav_link{
        margin-right: 1rem;
        font-size: 1.5rem;
    }
}

.central {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media screen and (min-width: 1000px) {
    .central{
        flex-direction: row;
    }
}
main {
    flex-basis: 75%;
    padding: 1%;
}


aside {
    background-color: whitesmoke;
    flex-basis: 25%;
    padding: 1%;
}

aside > section {
    margin-bottom: 2rem;
}

.pdf {
    width: 5rem;
}

h1{
    font-size: 1.4rem;
}

@media screen and (min-width: 600px) {
    h1{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1000px) {
    h1{
        font-size: 1.8rem;
    }
}

.top_logo {
    width: 1.8rem;
    padding: 1% 0 0 1%;
}

@media screen and (min-width: 600px){
    .top_logo {
        width: 4rem;
    }
}

.banner{
    width: 100%;
}

h2{
    font-size: 1.1rem; 
}

@media screen and (min-width: 600px) {
    h2{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) {
    h2{
        font-size: 1.3rem;
    }
}

h1,h2 {
    color: var(--blue);   
}

.grey {
    color: var(--grey);
}

.red {
    color: var(--red);
}

audio,video {
    width: 100%;
}

footer {
    background-color: var(--grey);
    color: whitesmoke;
    padding: 1%;
}

footer  a {
    color: whitesmoke;
}
