@font-face {
    font-family: "Ubuntu-L";
    src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
    font-family: "Ubuntu-M";
    src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html{
    --grey: #333333;
    --medium-grey: #666666;
    --light-grey: #d8d0d0;
    --blue: #084883;
    --brown: #6d2008;
    --light-orange: #e79f5b;
    --light-yellow: #eee56f;
    --red: #970a0a;
    --green: #04fd10; 
    --medium-green: #0f630c;
    --light-green: #92f57f;
}

body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: "Ubuntu-L", Arial, Helvetica, sans-serif;
    color: var(--grey);
    background-color: whitesmoke;
    font-weight: normal;
    min-height: 100vh;
}

header {
    background-color: #3a75b0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem;
}

.header_logos {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
}

.top_logo {
    width: 95px;
    height: 75px;
    padding: 0 1% 0 1%;
}
@media screen and (min-width: 600px){
    .top_logo {
        width: 75px;
        height: 55px;
    }
}

nav{
    padding: 0.5;
    flex-basis: 70%;
}

.nav_link {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.rem;
}
@media screen and (min-width: 600px) {
    .nav_link{
        margin-right: 1.5rem;
        font-size: 1.8rem;
    }
}

.searchbox {
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0 0 7rem;
    margin-bottom: 1rem;
    height: 40px;
}

.field {
    flex-basis: 100%;
    font-family: "Ubuntu-L",Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    height: 40px;
    width: 200px;
}

.field::placeholder {
    color: black;
}

.central {
    display: flex;
    flex-direction: column;
    flex: 1;
}
@media screen and (min-width: 1000px) {
    .central{
        flex-direction: row;
    }
}

aside {
    background-color: whitesmoke;
    flex-basis: 60%;
    padding: 1% 1% 0% 1%;
}

@media screen and (min-width: 1000px) {
    .aside{
        padding: 1% 1% 0% 15%;
    }
}

aside h2 {
    font-size: 1.3rem;
    color: #000;
    padding-top: 1rem;
}

.aside_link {
    font-size: 1rem;
    color: #006B8F;
    text-decoration: none;
}


h1 {
    font-size: 1.1rem;
    color: #111;
    padding-top: 1.7rem;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1000px) {
    h1{
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 1.1rem;
    color: #111;
}
@media screen and (min-width: 600px) {
    h2{
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1000px) {
    h2{
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #111;
    margin: 0 15rem .55em 0;
    flex-basis: 25%
}
@media screen and (min-width: 600px) {
    h3{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1000px) {
    h3{
        font-size: 1.2rem;
    }
}
main p {
    font-size: 1rem;
    color: #111;
}

.text_panel {
    margin: 0 15rem .55em 0;
    flex-basis: 25%;
    background-color: #ffffce;
    border: 1px solid #f0c000;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

table {
    max-width: 70%
}

table,
tr, td {
    border: 1px solid #333;
    border-collapse: collapse;

}

thead,
th {
    background-color: #d5d5d5;
    color: #666;
    text-shadow: 1px 1px 2px #fff;
    text-align: start;
}

.nav_foot {
    color: #006B8F;
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 0.7rem;
}

footer {
    padding: 1rem 0 1rem 0;
    background-color: #949090;
    text-align: center;
}
