main section {
    padding: 1rem;
    margin-bottom: 2rem;
}

h1,main h2 {
    color: var(--brown);
}

.standard_box {
    background-color: var(--medium-grey);
}
.image_content {
    background-color: yellow;
    box-sizing: border-box;
    width: 250px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border: 6px solid blue;
}

audio,video {
    width: 30%;
}

.spacer {
    margin-top: 1rem;
}

fieldset {
    color: var(--brown);
    font-size: 1.2rem;
}

.row {
    flex-direction: row;
}

.container{
    display: flex;
    background-color: var(--medium-grey);
}

.item {
    color: white;
    font-size: 1.2rem;
    padding: 5px;
}

.bx {
    background-color: darkblue;
}

.md {
    background-color: darkorange;
}

.osl {
    background-color: forestgreen;
}

.column {
    flex-direction: column;
}

.justify_start{
    justify-content: flex-start;
}

.justify_center {
    justify-content: center;
}

.justify_end {
    justify-content: end;
}

.justify_between {
    justify-content: space-between;
}

.justify_around {
    justify-content: space-around;
}

.thicker {
    height: 60px;
}

.align_stretch {
    align-items: stretch;
}

.align_start {
    align-items: flex-start;
}

.align_center {
    align-items: center;
}

.align_end {
    align-items: flex-end;
}

.grow_0 {
    flex-grow: 0;
}

.grow_1 {
    flex-grow: 1;
}

.grow_2 {
    flex-grow: 2;
}

.grow_3 {
    flex-grow: 3;
}

.self_stretch {
    align-self: stretch;
}

.self_start {
    align-self: flex-start;
}

.self_center {
    align-self: center;
}

.self_end {
    align-self: flex-end;
}
